html {
    height: 100%;
}
body {
    background-color: rgba(240, 240, 245, 0.81);
    margin: 0;
    height: 100%;
}
.header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 30px;
}
.all {
    background-color: rgba(226, 230, 227, 0.82);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}
.menu {
    margin: 5px 5px 5px 0px;
    padding: 10px 10px 10px 0px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececed;
    border-bottom: inset;
    border-bottom-width: 2px;
    border-color: lightslategray;
}
.menu a {
    font-style: normal;
    text-decoration: none;
    background-color: #ececed;
    margin: 5px;
    padding: 10px;
    border-top: outset;
    border-color: slategray;
    opacity: 0.7;
}
.menu a:hover {
    background-color: #d1d1d4;
    border-top-color: darkslategray;
    border-bottom: inset;
    border-bottom-width: 2px;
    border-bottom-color: slategray;
    opacity: 1.0;
}
.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-height: 300px;
}
.footer {
    background-color: #808080;
    text-align: center;
    vertical-align: middle;
}
svg {
    margin-left: auto;
    margin-right: auto;
}


table {
	margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table tr {
	background-color:#d4e3e5;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}